@model AspnetMVC.Models.Livro
@{
    ViewBag.Title = "Editar Livro";
}

<h2>Editar Livro</h2>
@using (Html.BeginForm("AtualizarLivro", "Home", FormMethod.Post))
{
    <div>
        @Html.LabelFor(x => x.ID)<span>: </span>
        @Html.TextBoxFor(x => x.ID, new { @readonly = "readonly" })
    </div>
    <br />
    <div>
        @Html.LabelFor(x => x.Titulo)<span>: </span>
        @Html.EditorFor(x => x.Titulo)
        @Html.ValidationMessageFor(x => x.Titulo)
    </div>
    <br />
    <div>
        @Html.LabelFor(x => x.Autor)<span>: </span>
        @Html.EditorFor(x => x.Autor)
        @Html.ValidationMessageFor(x => x.Autor)
    </div>
    <br />
    <div>
        @Html.LabelFor(x => x.AnoPublicacao)<span>: </span>
        @Html.EditorFor(x => x.AnoPublicacao)
        @Html.ValidationMessageFor(x => x.AnoPublicacao)
    </div>
    <br />
    <div>
        <input type="submit" value="Salvar" />
        @Html.ActionLink("Excluir", "ExcluirLivro", "Home", new { @id = Model.ID }, null)
        <a href="/">Voltar</a>
    </div>
}
<script src="~/Scripts/jquery.validate.js"></script>

